* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    
}

/* Hearder styling */

h1 {
    color: black;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

/* Main quiz container */

#over_all_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#mian_quiz_container {
    background: black;
    height: 500px;
    width: 75%;
    text-align: center;
    padding-top: 2.5%;
}

/* Image container */

/* Answer Buttons */

button {
    color: black;
    height: 10px;
    width: 30px;
    display: block;
    margin-left: 50%;
}