* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    display: flex;
    flex-direction: column;
    background: black;

}

/* Hearder styling */

h1 {
    color: white;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

h3, h2 {
    color: white;
    margin-top: 2%;
}

/* Main quiz container */

#over_all_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 5%;
}

#mian_quiz_container {
    background: black;
    height: 500px;
    width: 75%;
    text-align: center;
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* User Name form */
form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_name_container {
    color: black;
    width: 25rem;
    height: 4rem;
    margin-bottom: 5%;
   
}

/* Submit Button */
.submit_btn {
    border: 2px solid gold;
    border-radius: 50px;
    background: navy;
    color: white;
    width: 10rem;
    height: 2rem;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Score counter */
#score_count, p {
    width: 50%;
    height: 30px;
    background: orange;
}


/* Quiz Image  */

img {
    height: 250px;
    width: 320px;
    background: purple;
}
#main_image_container {
    background: white;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}



/* Answer Buttons */

#button_group_container{
    margin-top: 2%;
    margin-bottom: 2%;

}

.quiz_btns {
    border: 3px solid gold;
    border-radius: 50px;
    background: navy;
    color: white;
    height: 30px;
    width: 320px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Next Button */

#next_btn {
    color: black;
    background:orange;
    height: 30px;
    width: 320px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Feedback form container */
#feedback_form {
    margin-top: 1%;
    margin-bottom: 1%;
   
}

/* Radio Buttons */
.radio_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    
}

label {
    color: white;
}
@media only screen and (max-width: 1300px) {
/* Feedback Form */
    #feedback_form {
      
        padding-top: 25px;
    }
  }

  @media only screen and (max-width: 900px) {
/* Main Quiz Container */
    #mian_quiz_container {
        margin-top: 20px;
        height: 420px;
    }

    #user_name_container {
        margin-bottom: 5%;
    }

    /* Image Container */
    #main_image_container {
        
        width: 20rem;
       
    }
    /* score */
    p {
        margin-top: 20%;
    }
  }